@model  EditViewModel

@{
    ViewBag.Title = "Edit Profile";
    var photoPath = "~/immages/" + (Model.ExistingPhotoPath ?? "myimage.jpeg");
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="edit" method="post" class="mt-3">
    <input hidden asp-for="Id">
    <input hidden asp-for="ExistingPhotoPath" />
    <div class="form-group row"> 
        <label asp-for="Name" class="col-sm-2 col-form-label"></label> 
        <div class="col-sm-10"> 
            <input asp-for="Name" class="form-control" placeholder="Name"/>
 
         </div>
    </div>
    <div class="form-group row"> 
        <label asp-for="Email" class="col-sm-2 col-form-label"></label> 
        <div class="col-sm-10"> 
            <input asp-for="Email" class="form-control" placeholder="Email"/>
         </div>
    </div>
    <div class="form-group row"> 
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
         <div class="col-sm-10"> 
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select</option>
            </select>
         </div>
    </div>
    <div class="form-group row"> 
        <label asp-for="Skills" class="col-sm-2 col-form-label"></label> 
        <div class="col-sm-10"> 
            <input asp-for="Skills" />
        </div>
    </div>
    <div class="form-group row"> 
        <label asp-for="Projects" class="col-sm-2 col-form-label"></label> 
        <div class="col-sm-10"> 
            <input asp-for="Projects" />
        </div>
    </div>
    <div class="form-group row"> 
        <label asp-for="Experience" class="col-sm-2 col-form-label"></label> 
        <div class="col-sm-10"> 
            <input asp-for="Experience" placeholder="Between 1-5 years"/> 
        </div>
    </div>
    
    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="Photo" class="form-control custom-fill">
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>
    </divv>
     
    <div class="form-group row col-sm-4 offset-4"> 
        <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row"> 
        <div class="col-sm-10"> 
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" asp-controller="home" class="btn btn-primary">Cancel</a>
        </div>
    </div> 
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>
